/* -------------------------------------------------
   Reset minimal
   ------------------------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
	--primary-color : #141D38; 
	--secondary-color : #FCDB32;
	--background-color: ghostwhite;
	--header-height : 5vh;
	--footer-height: 7vh;
    --surface-color: #ffffff;
    --border-color: #d9dce5;
    --text-color: #000000;
    --code-bg: #eef1f7;
    --dark-code-bg: #141D38;
}


a {
	text-decoration : none ; 
	color : var(--primary-color) ; 
}


button {
	padding : 0px; 
	border : none;
	border-radius : 6px;
	cursor : pointer;
	font-size : 20px;
}


body {
	font-family: "Antonio", sans-serif;
	align-items: center ; 
	background-color: var(--background-color); 
	height: 100vh;
	overflow: auto; 
	overflow-x: hidden;

}


body.dark {
	background-color: var(--primary-color);
	color: white;
}


body.dark button {
	border: solid 1px ghostwhite;
}

body.dark aside,
aside.dark {
    background-color: var(--primary-color);
}


body.dark .card {
    border: 2px solid ghostwhite;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);  
}


body.dark .card-label {
	color: var(--secondary-color); 
}
	
	
header {
  min-height: var(--header-height);
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex ;
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
}


header > h1 {
	padding: 3px;
	text-align: center; 
}


.label-color {
	margin: 3px;
	color: white; 
	border-radius: 8px ; 
	max-width: 90%; 
	min-height: 30px;
	padding: 1%;  
	text-align: center;
	display: flex ;
	flex-direction: column;
	justify-content: center; 
	font-size: 0.8rem;
	font-weight: bold;
}

.card {
	display: flex ; 
	flex-wrap: wrap ; 
	width: 160px ;
	height: 120px;
	/* min-width : 130px ; */
	/* min-height : 100px; */
	background-color: white ;
	color: black; 
	border: 2px solid #023F6F;
	border-radius: 20px ; 
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4) ;
	justify-content: center ; 
	align-items: center ; 
	text-align: center ; 
	margin-bottom: 10px ;
	font-weight: bold ; 
	font-size: 1.2em;
	transition: all 0.2s ease;
}
	
.card:hover {
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


 .card:active { 
     transform: translateY(8px); 
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
 }


.card-label {
    display: block;
    font-size: 12px;
    color: #555;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.3px;
}


footer {
	display : flex ;
	position : sticky ;
	left : 0;
	bottom : 0 ; 
	color : var(--secondary-color) ; 
	background-color :var(--primary-color); 
	width : 100% ;
	height: var(--footer-height);
    min-height: var(--footer-height);
	justify-content : center ;
	align-items : center; 
}


img {
  border-radius : 10px;
  padding : 10px;
  width: auto;
  object-fit: cover;
  max-width : 100%;
  height : auto;
  max-height : 100%;
}


main {
	display : flex ; 
	flex-direction : row ; 
	width : 100%;
    min-height: calc(100vh - var(--header-height));
	overflow-y: auto; 
	justify-content : center; 
	}
	
	
/* =====================================================
   BOUTON MENU MOBILE
   ===================================================== 
.menu-toggle {
    display: none;
	transition: all 0.2s ease;
}
	*/
section {
	display : flex ; 
	flex: 1; 
	flex-wrap : wrap;
	flex-direction : row ; 
	align-items : center ; 
	align-content : space-evenly ;
	justify-content: space-evenly ; 
	padding : 15px;             
	right: 0;
	gap : 30px ; 
	max-width: calc(100% - 10%); /* garantit qu’on ne dépasse pas le sidebar */
}

 /* ---------- Sidebar (menu) ---------- 
.sidebar {
	position: sticky;  
	flex: 0 0 12%;   
	top: var(--header-height);
	left: 0;
	min-width : 10%;
	background: var(--primary-color);
	padding: 1rem;
	overflow-y: auto;
	min-height: calc(100vh - var(--footer-height));
	padding-bottom: calc(var(--footer-height) + 20px); 
	}


.sidebar summary {
	color : var(--secondary-color) ; 
}
	

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar li {
	margin: 0.5rem 0;
	font-size : 0.9em ;
}
*/
.switch {
	position : relative ; 
	display : inline-block ;
	width : 60px;
	height : 34px;
}

.switch input {
	opacity : 0;
	width : 0;
	height : 0;
}

.slider {
	position : absolute; 
	cursor : pointer ; 
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	background-color : var(--secondary-color);
	-webkit-transition : .4s;
	transition : .4s;
}

.slider:before {
	position : absolute;
	content : "";
	height : 26px;
	width : 26px;
	left : 4px;
	bottom: 4px;
	background-color : white; 
	-webkit-transition : .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--primary-color);
	outline: 2px solid var(--secondary-color);
    outline-offset: 2px; /* espace entre le slider et la bordure */;
}

input:focus + .slider {
	box-shadow : 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform : translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}



/* -------------------------------------------------
   1️⃣ Tablette (portrait) – largeur ≤ 1024 px
   ------------------------------------------------- */
@media (max-width: 1024px) {
    .card {
		width : 130px ;
		height : 100px;
		/* flex: 0 0 30%;      /* 3 cartes par ligne */ */
    }

	/* Masque la barre sur les navigateurs WebKit (Chrome, Edge, Safari) */
	 .sidebar::-webkit-scrollbar {
		width: 0;  /* largeur de la barre */
        background: transparent;/* évite un petit espace gris */
	}
	
	/* Firefox – utilise la propriété propriétaire */
	.sidebar {
		scrollbar-width: none;  /* «none » masque la barre */
	}

	/* Optionnel : garder la possibilité de faire défiler avec la molette ou le toucher */
	.sidebar {
		-ms-overflow-style: none;   /* IE/Edge legacy */
	}
}


@media(max-width:768px) {
	
	.card {
		width : 100px ;
		height : 70px;
    }
	
	.section {
		padding : 0;
		gap : 10px;
	}
	
   /* .sidebar {
        position:fixed;
        top:0;
        left:0;
        height:100vh;
        width:260px;
        transform:translateX(-100%);
        transition:transform .3s ease;
        z-index:1000;
    }
*/
	
    /*
      Classe ajoutée en JavaScript
      quand on clique sur ☰
    */
	/*
    .sidebar.open {
        transform:translateX(0);
    }

	
	 .menu-toggle {
        display:block;
        position:fixed;
		background-color: var(--secondary-color);
		color: var(--primary-color);
		border: solid 2px var(--primary-color);
		border-radius: 15px;
		text-align: center;
		font-size: 20px;
		cursor: pointer;
		box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
	  	bottom: 90px;
    	right: 30px;
		width : 50px;
		height : 50px;
        z-index:1;
    }
    
	
	.menu-toggle:hover {
		cursor: pointer;
		transform: translateY(-8px);
}
*/

}

	section {
		min-width: 0; 
		gap : 30px ; 
	}


/* ===========================
   DETAILS / BLOCS
=========================== */

details {
  background: var(--surface-color);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 12px 18px;
  margin-bottom: 15px;

  box-shadow: 0 4px 12px rgba(20, 29, 56, 0.08);

  transition: box-shadow .2s ease;
}


details:hover {
  box-shadow: 0 6px 18px rgba(20, 29, 56, 0.15);
}


/* ===========================
   TITRE SUMMARY
=========================== */

details summary {
  cursor: pointer;

  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.1rem;

  padding: 8px 0;

  user-select: none;
}


details summary:hover {
  color: #000;
}


/* Triangle */
details summary::marker {
  color: var(--secondary-color);
}


/* ===========================
   TITRES INTERNES
=========================== */

details h4 {

  margin-top: 22px;
  margin-bottom: 10px;

  color: var(--primary-color);

  font-size: .95rem;

  border-bottom: 2px solid var(--secondary-color);

  padding-bottom: 5px;
}


/* ===========================
   LISTES
=========================== */

details ul {

  padding-left: 20px;

}


details li {

  margin-bottom: 9px;

  color: var(--text-color);

  line-height: 1.4;

}


/* ===========================
   TOUCHES CLAVIER
=========================== */

kbd {

  display: inline-block;

  padding: 3px 8px;

  font-family: "Consolas", monospace;

  font-size: .85rem;

  font-weight: bold;

  color: var(--primary-color);

  background: #fff;

  border: 1px solid #bfc5d3;

  border-radius: 5px;

  box-shadow:
    0 2px 0 #bfc5d3;

}


/* ===========================
   COMMANDES INLINE
=========================== */

code {

  background: var(--code-bg);

  color: var(--primary-color);

  padding: 3px 7px;

  border-radius: 5px;

  font-family: "Consolas", "Courier New", monospace;

  font-size: .9rem;

  border-left: 3px solid var(--secondary-color);

}


/* ===========================
   BLOCS CODE
=========================== */

pre {

  background: var(--dark-code-bg);

  color: #ffffff;

  padding: 14px;

  border-radius: 8px;

  overflow-x: auto;

  font-family: "Consolas", "Courier New", monospace;

  font-size: .85rem;

  line-height: 1.5;

  border-left: 4px solid var(--secondary-color);

}


/* ===========================
   SELECTION TEXTE
=========================== */

code::selection,
pre::selection {

  background: var(--secondary-color);

  color: var(--primary-color);

}


/* ---------------------------------
   Barre de navigation
--------------------------------- */

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background: lightgray;
    /*border-radius: 12px;*/
    /*margin: 0 15px 20px;*/
}

/* Boutons et liens */

.navbar a,
.navbar button {

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 90px;
    height: 40px;

    padding: 0 16px;

    border: none;
    border-radius: 8px;

    background: var(--primary-color);
    color: var(--secondary-color);

    font-size: .9rem;
    font-weight: 600;

    text-decoration: none;
    cursor: pointer;

    transition: transform .15s ease,
                background .2s ease,
                box-shadow .2s ease;
}

/* Survol */

.navbar a:hover,
.navbar button:hover {

    transform: translateY(-2px);

    box-shadow: 0 4px 10px rgba(0,0,0,.25);
}

/* Clic */
.navbar a:active,
.navbar button:active {
    transform: scale(.97);
}

/*--------- MODALE -----*/
dialog {
    border: none;
	background-color: var(--background-color);
	border-radius: 12px;
    padding: 1.5rem;
    width: min(600px, 90vw);
    /*width: 80vw;
	height: 80vh; */
	overflow-y: auto;
	box-shadow: 0 10px 30px rgba(0,0,0,.35);
}

dialog::backdrop {
    background: rgba(0,0,0,.55);
    backdrop-filter: blur(3px);
}
